<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- 声明式渲染 -->
      <div>{{ message1 }}</div>

      <!-- 绑定元素 attribute -->
      <div>
        <span v-bind:title="message2">
          鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
      </div>

      <!-- conditional rendering -->

      <div>
        <p v-if="seen">现在你看到我了</p>
      </div>

      <!-- list and loops rendering -->

      <div>
        <ol>
          <li v-for="todo in todos">{{ todo.text }}</li>
        </ol>
      </div>

      <!-- handling user input -->
      <!-- event directive: v-on:click, @ for short -->
      <div>
        <p>{{ message3 }}</p>
        <button @click="reverseMessage">反转消息</button>
      </div>

      <!-- two-way data binding -->

      <div>
        <p>{{ message4 }}</p>
        <input v-model="message4" />
      </div>

      <!-- composing with components -->
      <div>
        <ol>
          <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
          ></todo-item>
        </ol>
      </div>
    </div>
  </body>
  <script src="main.js"></script>
</html>
