<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <link rel="stylesheet" href="./product-page.css" />
  </head>
  <body>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img :src="image" />
        </div>

        <div class="product-info">
          <h1>{{ product }}</h1>
          <p>{{description}}</p>
          <!-- conditional rendering -->
          <p v-if="inStock">In Stock</p>
          <p v-if="!inStock" :class='{strikeThrough: !inStock}'>Out of Stock</p>
          <p v-show="onSale">On Sale!</p>

          <!-- list rendering -->
          <p>Sizes:</p>
          <div class="sizes">
            <ul>
              <li @click="selectedSize" v-for="(size, index) in sizes" :key="index"><span>{{size}}</span></li>
            </ul>
          </div>
         
          
          <div>
            <button @click='addToCart' :disabled="!inStock" :class='{disabledButton:!inStock}'>Add to cart</button>
          <button @click='removeFromCart' :disabled='cart===0' :class='{disabledButton: cart===0}'>remove from cart</button>
          <div class="cart">
            <p>Cart({{cart}})</p></div>
        </div>
          </div>
         
      </div> 
    </div>
  </body>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        product: "Socks",
        description: "A pair of warm, fuzzy socks",
        image:
          "https://www.vuemastery.com/images/challenges/vmSocks-green-onWhite.jpg",
        link: "introduction.html",
        inStock: true,
        onSale: true,
        sizes: ["S", "M", "L"],
        cart:0,
      },
      methods: {
        addToCart(){
          this.cart++;
        },
        removeFromCart(){
          if(this.cart===0) return;
          this.cart--;
        },
        selectedSize(e){
          console.log(e.target.textContent);
        }
      },
    });
  </script>
</html>
